@import url("https://cdn.syncfusion.com/ej2/material.css");

.sidebar {
  /* box-shadow: rgb(113 122 131 / 11%) 0px 7px 30px 0px; */
}
.nav-item,
.navbar {
  z-index: 10000;
}
@media screen and (max-width: 800px) {
  .sidebar {
    z-index: 10000000;
  }
}

.e-dlg-center-center,
.e-quick-popup-wrapper.e-device {
  z-index: 100 !important;
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-thumb {
  background-color: rgb(216, 216, 216);
  border-radius: 40px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}

/* color-picker style  */

#preview {
  background: transparent
    url("https://ej2.syncfusion.com/react/demos/src/color-picker/images/pen.png")
    no-repeat;
  display: inline-block;
  height: 80px;
  margin: 10px 0;
  min-width: 300px;
  max-width: 600px;
  background-color: #008000;
}

.e-input-group:not(.e-float-icon-left),
.e-input-group.e-success:not(.e-float-icon-left),
.e-input-group.e-warning:not(.e-float-icon-left),
.e-input-group.e-error:not(.e-float-icon-left),
.e-input-group.e-control-wrapper:not(.e-float-icon-left),
.e-input-group.e-control-wrapper.e-success:not(.e-float-icon-left),
.e-input-group.e-control-wrapper.e-warning:not(.e-float-icon-left),
.e-input-group.e-control-wrapper.e-error:not(.e-float-icon-left) {
  border: none;
}

.shine {
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.5) 0%,
    rgba(255, 255, 255, 0.5) 50%,
    transparent 70%
  );
  animation: shine 2s infinite linear;
}

@keyframes shine {
  to {
    left: 100%;
  }
}
.card {
  overflow: visible;
  width: 220px;
  height: 254px;
}

.content {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 300ms;
  box-shadow: 0px 0px 10px 1px #000000ee;
  border-radius: 5px;
}

.front,
.back {
  background-color: #151515;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  border-radius: 5px;
  overflow: hidden;
}
.csk .front,
.back {
  background: linear-gradient(
    to right,
    #fdb913,
    #f85c00
  ); /* rcb gradient colors */
  color: white; /* Text color */
}
.csk .content {
  box-shadow: 0px 0px 10px 1px #c66d06ee;
}
.rcb .front,
.back {
  background: linear-gradient(
    to right,
    #000000,
    #c81c2e
  ); /* RCB gradient colors */
  color: white; /* Text color */
}
.rcb .content {
  box-shadow: 0px 0px 10px 1px #2b2a29;
}
.dc .front,
.back {
  background: linear-gradient(
    to right,
    #003668,
    #f62e2e
  ); /* Delhi Capitals gradient colors */ /* dc gradient colors */
  color: white; /* Text color */
}
.dc .content {
  box-shadow: 0px 0px 10px 1px #2e5375;
}
.gt .front,
.back {
  background: linear-gradient(
    to right,
    #0d1a30,
    #0b7ebc
  ); /* Gujarat Titans gradient colors */
  color: white; /* Text color */
}
.gt .content {
  box-shadow: 0px 0px 10px 1px #003da5;
}
.kkr .front,
.back {
  background: linear-gradient(
    to right,
    #28204a,
    #e1a01d
  ); /* Gujarat Titans gradient colors */
  color: white; /* Text color */
}
.kkr .content {
  box-shadow: 0px 0px 10px 1px #28204a;
}
.lsg .front,
.back {
  background: linear-gradient(
    to right,
    #0248bc,
    #ffffff
  ); /* Gujarat Titans gradient colors */
  color: white; /* Text color */
}
.lsg .content {
  box-shadow: 0px 0px 10px 1px #0249bc9f;
}
.mi .front,
.back {
  background: linear-gradient(
    to right,
    #133166,
    #2d6ab1
  ); /* Gujarat Titans gradient colors */
  color: white; /* Text color */
}
.mi .content {
  box-shadow: 0px 0px 10px 1px #133166;
}
.pk .front,
.back {
  background: linear-gradient(
    to right,
    #d71920,
    #283665
  ); /* Gujarat Titans gradient colors */
  color: white; /* Text color */
}
.pk .content {
  box-shadow: 0px 0px 10px 1px #d71920;
}
.rr .front,
.back {
  background: linear-gradient(
    to right,
    #d21470,
    #042857
  ); /* Gujarat Titans gradient colors */
  color: white; /* Text color */
}
.rr .content {
  box-shadow: 0px 0px 10px 1px #eb83b5;
}
.srh .front,
.back {
  background: linear-gradient(
    to right,
    #f26522,
    #722424
  ); /* Gujarat Titans gradient colors */
  color: white; /* Text color */
}
.srh .content {
  box-shadow: 0px 0px 10px 1px #f26522;
}
.back {
  width: 100%;
  height: 100%;
  justify-content: center;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.back::before {
  position: absolute;
  content: " ";
  display: block;
  width: 160px;
  height: 160%;
  background: linear-gradient(
    90deg,
    transparent,
    #ff9966,
    #ff9966,
    #ff9966,
    #ff9966,
    transparent
  );
  animation: rotation_481 5000ms infinite linear;
}

.back-content {
  position: absolute;
  width: 99%;
  height: 99%;
  background-color: #151515;
  border-radius: 5px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.csk .back-content {
  background: #fdbb13;
}
.rcb .back-content {
  background: #2b2a29;
}
.dc .back-content {
  background: #004c93;
}
.gt .back-content {
  background: #0d1a30;
}
.kkr .back-content {
  background: #28204a;
}
.lsg .back-content {
  background: #ffffff;
}
.mi .back-content {
  background: #2d6ab1;
}
.pk .back-content {
  background: #d71920;
}
.rr .back-content {
  background: #cf5a93;
}
.srh .back-content {
  background: #f26522;
}
.card:hover .content {
  transform: rotateY(180deg);
}

@keyframes rotation_481 {
  0% {
    transform: rotateZ(0deg);
  }

  0% {
    transform: rotateZ(360deg);
  }
}

.front {
  transform: rotateY(180deg);
  color: white;
}

.front .front-content {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.front-content .badge {
  background-color: #00000055;
  padding: 2px 10px;
  border-radius: 10px;
  backdrop-filter: blur(2px);
  width: fit-content;
}
.csk .front-content .badge {
  background-color: #f85c00;
}
.rcb .front-content .badge {
  background-color: #670812d6;
}
.dc .front-content .badge {
  background-color: #d10101;
}
.gt .front-content .badge {
  background-color: #0d1a30;
}
.kkr .front-content .badge {
  background-color: #28204a;
}
.lsg .front-content .badge {
  background-color: #0248bc;
}
.mi .front-content .badge {
  background-color: #133166;
}
.pk .front-content .badge {
  background-color: #d71920;
}
.rr .front-content .badge {
  background-color: #d21470;
}
.srh .front-content .badge {
  background-color: #f26522;
}
.description {
  box-shadow: 0px 0px 10px 5px #00000088;
  width: 100%;
  padding: 10px;
  background-color: #00000099;
  backdrop-filter: blur(5px);
  border-radius: 5px;
}
.csk .description {
  box-shadow: 0px 0px 5px 2px #f7c966c5;
}
.rcb .description {
  box-shadow: 0px 0px 5px 2px #c81c2dc8;
}
.dc .description {
  box-shadow: 0px 0px 5px 2px #ed0c0cac;
}
.gt .description {
  box-shadow: 0px 0px 5px 2px #0d1a30;
}
.kkr .description {
  box-shadow: 0px 0px 5px 2px #28204a;
}
.lsg .description {
  box-shadow: 0px 0px 5px 2px #0249bc;
}
.mi .description {
  box-shadow: 0px 0px 5px 2px #133166;
}
.pk .description {
  box-shadow: 0px 0px 5px 2px #d71920;
}
.rr .description {
  box-shadow: 0px 0px 5px 2px #d21470b1;
}
.srh .description {
  box-shadow: 0px 0px 5px 2px #f26522;
}
.title {
  font-size: 16px;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
}

.title p {
  width: 100%;
}

.card-footer {
  color: #ffffff88;
  margin-top: 5px;
  font-size: 16px;
}

.front .img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.circle {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background-color: #ffbb66;
  position: relative;
  filter: blur(15px);
  animation: floating 2600ms infinite linear;
}
.dc .circle {
  background-color: #ff2a2a;
}
.gt .circle {
  background-color: #0b7ebc;
}
.kkr .circle {
  background-color: #28204a;
}
.lsg .circle {
  background-color: #ffffff;
}
.mi .circle {
  background-color: #2d6ab1;
}
.pk .circle {
  background-color: #283665;
}
.rr .circle {
  background-color: #042857;
}
.srh .circle {
  background-color: #722424;
}
#bottom {
  background-color: #ff8866;
  left: 50px;
  top: 0px;
  width: 150px;
  height: 150px;
  animation-delay: -800ms;
}
.csk #bottom {
  background-color: #fdbb13c5;
}
.rcb #bottom {
  background-color: #c81c2d73;
}
.dc #bottom {
  background-color: #2c3f5f;
}
.gt #bottom {
  background-color: #1e3660;
}
.kkr #bottom {
  background-color: #d69410;
}
.lsg #bottom {
  background-color: #0248bc;
}
.mi #bottom {
  background-color: #133166;
}
.pk #bottom {
  background-color: #d71920;
}
.rr #bottom {
  background-color: #d21470;
}
.srh #bottom {
  background-color: #f26522;
}
#right {
  background-color: #ff2233;
  left: 160px;
  top: -80px;
  width: 30px;
  height: 30px;
  animation-delay: -1800ms;
}
.kkr #right {
  background-color: #1e1546;
}
.lsg #right {
  background-color: #0248bc;
}
.mi #right {
  background-color: #4486d0;
}
.srh #right {
  background-color: #f26522;
}

@keyframes floating {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(0px);
  }
}

/* Players */
.book {
  position: relative;
  border-radius: 10px;
  width: 220px;
  height: 300px;

  -webkit-box-shadow: 1px 1px 12px #0363979b;
  box-shadow: 1px 1px 12px #036397a0;
  -webkit-transform: preserve-3d;
  -ms-transform: preserve-3d;
  transform: preserve-3d;
  -webkit-perspective: 2000px;
  perspective: 2000px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #000;
}

.cover {
  top: 0;
  position: absolute;
  background-color: #acd4ea;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform-origin: 0;
  -ms-transform-origin: 0;
  transform-origin: 0;
  -webkit-box-shadow: 1px 1px 12px #036397;
  box-shadow: 1px 4px 8px #18181771;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: rgb(0, 0, 0);
}
/* .csk .cover {
  background-color: #f5e48f;
  color: black;
}
.rcb .cover {
  background-color: #036397;
  color: white;
}
.dc .cover {
  background-color: #fc4555;
  color: white;
}
.gt .cover {
  background-color: #036397;
  color: white;
}
.kkr .cover {
  background-color: #e1a01d;
  color: white;
}
.lsg .cover {
  background-color: #0248bc;
  color: white;
}
.mi .cover {
  background-color: #183f81;
  color: white;
}
.pk .cover {
  background-color: #222e56;
  color: white;
}
.rr .cover {
  background-color: #4a0322 ;
  color: white;
}
.srh .cover {
  background-color: #722424 ;
  color: white;
} */
.book:hover .cover {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform: rotatey(-80deg);
  -ms-transform: rotatey(-80deg);
  transform: rotatey(-80deg);
}

.book p {
  font-size: 20px;
  font-weight: bolder;
}

.btn-53,
.btn-53 *,
.btn-53 :after,
.btn-53 :before,
.btn-53:after,
.btn-53:before {
  border: 0 solid;
  box-sizing: border-box;
}

.btn-53 {
  -webkit-tap-highlight-color: transparent;

  background-color: blue;
  background-image: none;
  color: #fff;
  cursor: pointer;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 20px;
  line-height: 1;
  margin: 0;
  padding: 0;
  margin-left: 25px;
  margin-top: 10px;
  font-weight: 200;
}

.btn-53:disabled {
  cursor: default;
}

.btn-53:-moz-focusring {
  outline: auto;
}

.btn-53 svg {
  display: block;
  vertical-align: middle;
}

.btn-53 [hidden] {
  display: none;
}

.btn-53 {
  border: 1px solid;
  width: 100px;
  border-radius: 9px;
  box-sizing: border-box;
  display: block;
  font-weight: 400;
  font-size: 15px;
  overflow: hidden;
  /* padding: 1rem 1rem; */
  position: relative;
  /* text-transform: uppercase; */
  padding: 1rem 0.5rem;
}

.btn-53 .original {
  background: blue;
  color: #fff;
  display: grid;
  inset: 0;
  place-content: center;
  position: absolute;
  transition: transform 0.2s cubic-bezier(0.87, 0, 0.13, 1);
}

.btn-53:hover .original {
  transform: translateY(100%);
}

.btn-53 .letters {
  display: inline-flex;
}

.btn-53 span {
  opacity: 0;
  transform: translateY(-15px);
  transition: transform 0.2s cubic-bezier(0.87, 0, 0.13, 1), opacity 0.2s;
}

.btn-53 span:nth-child(2n) {
  transform: translateY(15px);
}

.btn-53:hover span {
  opacity: 1;
  transform: translateY(0);
}

.btn-53:hover span:nth-child(2) {
  transition-delay: 0.1s;
}

.btn-53:hover span:nth-child(3) {
  transition-delay: 0.2s;
}

.btn-53:hover span:nth-child(4) {
  transition-delay: 0.3s;
}

.btn-53:hover span:nth-child(5) {
  transition-delay: 0.4s;
}

.btn-53:hover span:nth-child(6) {
  transition-delay: 0.5s;
}

/* Points Table  */
.parent {
  width: 290px;
  height: 300px;
  perspective: 1000px;
}

.parentcard {
  height: 100%;
  border-radius: 50px;
  background: linear-gradient(135deg, rgb(0, 98, 255) 0%, rgb(8, 59, 226) 100%);
  transition: all 0.5s ease-in-out;
  transform-style: preserve-3d;
  box-shadow: rgba(5, 18, 71, 0) 40px 50px 25px -40px,
    rgba(5, 9, 71, 0.2) 0px 25px 25px -5px;
}
.csk .parentcard {
  background: linear-gradient(
    135deg,
    #f9e22a,
    rgb(226, 204, 8) 100%
  );

  box-shadow: rgba(70, 71, 5, 0) 40px 50px 25px -40px,
    rgba(5, 9, 71, 0.2) 0px 25px 25px -5px;
}
.rr .parentcard {
  background: linear-gradient(
    135deg,
    #ff559a,
    #303491 100%
  );

  box-shadow: rgba(70, 71, 5, 0) 40px 50px 25px -40px,
    rgba(5, 9, 71, 0.2) 0px 25px 25px -5px;
}
.kkr .parentcard {
  background: linear-gradient(
    135deg,
    #463573,
    #946dff 100%
  );

  box-shadow: rgba(70, 71, 5, 0) 40px 50px 25px -40px,
    rgba(5, 9, 71, 0.2) 0px 25px 25px -5px;
}
.srh .parentcard {
  background: linear-gradient(
    135deg,
    #ff6026,
    #41323b 100%
  );

  box-shadow: rgba(70, 71, 5, 0) 40px 50px 25px -40px,
    rgba(5, 9, 71, 0.2) 0px 25px 25px -5px;
}
.dc .parentcard {
  background: linear-gradient(
    135deg,
    #ff5265 50%,
    #243d8d 
  );

  box-shadow: rgba(70, 71, 5, 0) 40px 50px 25px -40px,
    rgba(5, 9, 71, 0.2) 0px 25px 25px -5px;
}
.rcb .parentcard {
  background: linear-gradient(
    135deg,
    #26324c 50%,
    #b93341 
  );

  box-shadow: rgba(70, 71, 5, 0) 40px 50px 25px -40px,
    rgba(5, 9, 71, 0.2) 0px 25px 25px -5px;
}
.lsg .parentcard {
  background: linear-gradient(
    135deg,
    #9ae0e3 ,
    #ffa582 100%
  );

  box-shadow: rgba(70, 71, 5, 0) 40px 50px 25px -40px,
    rgba(5, 9, 71, 0.2) 0px 25px 25px -5px;
}
.gt .parentcard {
  background: linear-gradient(
    135deg,
    #424f67 ,
    #fcc14d 100%
  );

  box-shadow: rgba(70, 71, 5, 0) 40px 50px 25px -40px,
    rgba(5, 9, 71, 0.2) 0px 25px 25px -5px;
}
.pbks .parentcard {
  background: linear-gradient(
    135deg,
    #ff4946 ,
    #bb721c 100%
  );

  box-shadow: rgba(70, 71, 5, 0) 40px 50px 25px -40px,
    rgba(5, 9, 71, 0.2) 0px 25px 25px -5px;
}
.mi .parentcard {
  background: linear-gradient(
    135deg,
    #0994d8 ,
    #0a335b 100%
  );

  box-shadow: rgba(70, 71, 5, 0) 40px 50px 25px -40px,
    rgba(5, 9, 71, 0.2) 0px 25px 25px -5px;
}
.glass {
  transform-style: preserve-3d;
  position: absolute;
  inset: 8px;
  border-radius: 55px;
  border-top-right-radius: 100%;
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0.249) 0%,
    rgba(255, 255, 255, 0.615) 100%
  );
  /* -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px); */
  transform: translate3d(0px, 0px, 25px);
  border-left: 1px solid white;
  border-bottom: 1px solid white;
  transition: all 0.5s ease-in-out;
}

.parentcontent {
  padding: 100px 60px 0px 30px;
  transform: translate3d(0, 0, 26px);
}

.parentcontent .title {
  display: block;
  color: #000;
  font-weight: 900;
  font-size: 28px;
  font-family: "Courier New", Courier, monospace;
}

.parentcontent .text {
  display: block;
  color: rgba(0, 57, 137, 0.765);
  font-size: 15px;
  margin-top: 20px;
}
.csk .parentcontent .text {
  color: rgba(0, 0, 0, 0.765);
}
.bottom {
  padding: 10px 12px;
  transform-style: preserve-3d;
  position: absolute;
  bottom: 20px;
  left: 20px;
  right: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transform: translate3d(0, 0, 26px);
}

.bottom .view-more {
  display: flex;
  align-items: center;
  width: 40%;
  justify-content: flex-end;
  transition: all 0.2s ease-in-out;
}

.bottom .view-more:hover {
  transform: translate3d(0, 0, 10px);
}

.bottom .view-more .view-more-button {
  background: none;
  border: none;
  color: #003bc3;
  font-weight: bolder;
  font-size: 12px;
}

.bottom .view-more .svg {
  fill: none;
  stroke: #0044c3;
  stroke-width: 3px;
  max-height: 15px;
}

.bottom .social-buttons-container {
  display: flex;
  gap: 16px;
  transform-style: preserve-3d;
  color: black;
  font-weight: 600;
}

.bottom .social-buttons-container .social-button {
  width: 40px;
  aspect-ratio: 1;
  padding: 5px;
  background: rgb(255, 255, 255);
  border-radius: 50%;
  border: none;
  display: grid;
  place-content: center;
  box-shadow: rgba(5, 7, 71, 0.5) 0px 7px 5px -5px;
}

.bottom .social-buttons-container .social-button:first-child {
  transition: transform 0.2s ease-in-out 0.4s, box-shadow 0.2s ease-in-out 0.4s;
}

.bottom .social-buttons-container .social-button:nth-child(2) {
  transition: transform 0.2s ease-in-out 0.6s, box-shadow 0.2s ease-in-out 0.6s;
}

.bottom .social-buttons-container .social-button:nth-child(3) {
  transition: transform 0.2s ease-in-out 0.8s, box-shadow 0.2s ease-in-out 0.8s;
}

.bottom .social-buttons-container .social-button .svg {
  width: 15px;
  fill: #000089;
}

.bottom .social-buttons-container .social-button:hover {
  background: rgb(255, 255, 255);
}

.bottom .social-buttons-container .social-button:hover .svg {
  fill: white;
}

.bottom .social-buttons-container .social-button:active {
  background: rgb(255, 255, 255);
}

.bottom .social-buttons-container .social-button:active .svg {
  fill: black;
}
.white-icon {
  color: white;
}

.logo {
  position: absolute;
  right: 0;
  top: 0;
  transform-style: preserve-3d;
}

.logo .parentcircle {
  display: block;
  position: absolute;
  aspect-ratio: 1;
  border-radius: 50%;
  top: 0;
  right: 0;
  box-shadow: rgba(100, 100, 111, 0.2) -10px 10px 20px 0px;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  background: rgba(42, 167, 251, 0.2);
  transition: all 0.5s ease-in-out;
}

.csk .logo .parentcircle {
  background: rgba(220, 251, 42, 0.2);
  transition: all 0.5s ease-in-out;
}
.rr .logo .parentcircle {
  background: hsla(336, 100%, 67%, 0.2);
  transition: all 0.5s ease-in-out;
}
.kkr .logo .parentcircle {
  background: hsla(256, 37%, 33%, 0.2);
  transition: all 0.5s ease-in-out;
}
.srh .logo .parentcircle {
  background: hsla(16, 100%, 57%, 0.2);
  transition: all 0.5s ease-in-out;
}
.dc .logo .parentcircle {
  background: hsl(353, 100%, 66% , 0.2);
  transition: all 0.5s ease-in-out;
}
.rcb .logo .parentcircle {
  background: hsl(221, 33%, 22%, 0.2);
  transition: all 0.5s ease-in-out;
}
.lsg .logo .parentcircle {
  background: hsl(182, 57%, 75%, 0.2);
  transition: all 0.5s ease-in-out;
}
.gt .logo .parentcircle {
  background: hsl(219, 22%, 33%, 0.2);
  transition: all 0.5s ease-in-out;
}
.pbks .logo .parentcircle {
  background: hsl(1, 100%, 64%,0.2);
  transition: all 0.5s ease-in-out;
}
.mi .logo .parentcircle {
  background: hsl(210, 80%, 20%, 0.2);
  transition: all 0.5s ease-in-out;
}

.logo .parentcircle1 {
  width: 170px;
  transform: translate3d(0, 0, 20px);
  top: 8px;
  right: 8px;
}

.logo .parentcircle2 {
  width: 140px;
  transform: translate3d(0, 0, 40px);
  top: 10px;
  right: 10px;
  -webkit-backdrop-filter: blur(1px);
  backdrop-filter: blur(1px);
  transition-delay: 0.4s;
}

.logo .parentcircle3 {
  width: 110px;
  transform: translate3d(0, 0, 60px);
  top: 17px;
  right: 17px;
  transition-delay: 0.8s;
}

.logo .parentcircle4 {
  width: 80px;
  transform: translate3d(0, 0, 80px);
  top: 23px;
  right: 23px;
  transition-delay: 1.2s;
}

.logo .parentcircle5 {
  width: 50px;
  transform: translate3d(0, 0, 100px);
  top: 30px;
  right: 30px;
  display: grid;
  place-content: center;
  transition-delay: 1.6s;
}

.logo .parentcircle5 .svg {
  width: 20px;
  fill: white;
}

.parent:hover .parentcard {
  transform: rotate3d(1, 1, 0, 30deg);
  box-shadow: rgba(5, 21, 71, 0.3) 30px 50px 25px -40px,
    rgba(12, 5, 71, 0.1) 0px 25px 30px 0px;
}

.parent:hover .parentcard .bottom .social-buttons-container .social-button {
  transform: translate3d(0, 0, 50px);
  box-shadow: rgba(5, 9, 71, 0.2) -5px 20px 10px 0px;
}

.parent:hover .parentcard .logo .parentcircle2 {
  transform: translate3d(0, 0, 60px);
}

.parent:hover .parentcard .logo .parentcircle3 {
  transform: translate3d(0, 0, 80px);
}

.parent:hover .parentcard .logo .parentcircle4 {
  transform: translate3d(0, 0, 100px);
}

.parent:hover .parentcard .logo .parentcircle5 {
  transform: translate3d(0, 0, 120px);
}
